
/*Post Bootstrap custom styles*/
:root {
  font-size: 20px;
}

#root {
  font-family: 'Verdana ', monospace !important;
  font-weight: 700;
}

h2{
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.2rem;
}

@media (min-width: 1800px) {
  .container {
    min-width: 95vw;
  }
}

.navbar {
  width: 100%;
  border-bottom: 1px solid hsla(0, 0%, 70%, 0.75);
}

.navbar-nav {
  font-size: 1rem;
}

.navbar-nav .nav-link {
  color: hsla(0, 0%, 65%, 0.75);
}

.navbar-nav .nav-link:hover {
  color: hsla(0, 0%, 55%, 1);
}

.navbar-nav .nav-link.active {
  color: black;
  font-weight: 700;
}

.navbar-nav .navbar-brand {
  font-weight: 700;
  margin-bottom: 0;
}

.zone {
  padding: 4px;
}

.opstation {
  outline: 1px solid hsla(0, 0%, 70%, 0.75);
  border-radius: 8px;
  margin-right: 5px;
  overflow: hidden;
  height: 200px;
  width: 100%
}

.dropdown-menu {
  min-width: max-content;
}


.header-component {
  max-height: 50px;
}

/* .opstationman, .opstationman * {
  border: 1px solid black;
} */