.flex-center {
    display: flex;
    place-items: center;
}

.width-100vw {
    width: 100vw;
}

.width-100-percent {
    width: 100%;
}

.width-max-content {
    width: max-content;
}

.btn-border-square {
    border-radius: 0;
}

.bg-light-10 {
  background-color: hsla(0, 0%, 35%, 0.1);
}

.bg-light-20 {
  background-color: hsla(0, 0%, 35%, 0.2);
}

.bg-light-30 {
  background-color: hsla(0, 0%, 35%, 0.3);
}

.bg-light-40 {
  background-color: hsla(0, 0%, 35%, 0.4);
}

.bg-light-50 {
  background-color: hsla(0, 0%, 35%, 0.5);
}

.bg-light-60 {
  background-color: hsla(0, 0%, 35%, 0.6);
}

.bg-light-70 {
  background-color: hsla(0, 0%, 35%, 0.7);
}

.bg-light-80 {
  background-color: hsla(0, 0%, 35%, 0.8);
}

.bg-light-90 {
  background-color: hsla(0, 0%, 35%, 0.9);
}

.bg-light-100 {
  background-color: hsla(0, 0%, 35%, 1);
}

.border-light-30 {
    border: 0.5px solid hsla(0, 0%, 35%, 0.3);
}